* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 16px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
nav {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
