:root {
  --earth: #7f5539;
  --ocean: #015871;
  --deeper-blue: #03045e;
  --deep-blue: #023e8a;
  --mder-blue: #0077b6;
  --md-blue: #0096c7;
  --light-blue: #00b4d8;
  --lightest-blue: #48cae4;
  --light-red: #e63946;
  --background: #f8fcff;
}
